.mast{
    margin-top: 100px;
}


// Helpers
.cursor-pointer{
    cursor: pointer;
}

.object-fit-fill {
    object-fit: fill;
}

.object-fit-contain{
    object-fit: contain;
}

.object-fit-cover {
    object-fit: cover;
}

// List styles
.list-style-none{
    list-style: none
}